<!DOCTYPE html>


{% block title %}
    Play the quiz
{% endblock %}

{% block main %}

{% if session.user_id %}

</script>

<body>
    <div style = "text-align: center;" id="refresh">
        <p>Question {{ count }}: {{ vraag }}</p>
        <p>Category: {{ api_data[0]['category'] }}</p>
        <p>Difficulty: {{ api_data[0]['difficulty'] }}</p>
    </div>

<form action="/game" method="post">

    <div class="form-group" style="text-align: center;">
        <div>
        <input name = "button" class="button" type="submit" value="{{ a }}"></button>
        </div>
        <div>
        <input name = "button" class="button" type="submit" value="{{ b }}"></button>
        </div>
        <div>
        <input name = "button" class="button" type="submit" value="{{ c }}"></button>
        </div>
        <div>
        <input name = "button" class="button" type="submit" value="{{ d }}"></button>
        </div>
        <input type="hidden" id="goed" name="answer" value=" {{ goed }} ">
    </div>
</form>

{% endif %}

</body>
</html>

{% endblock %}